@font-face {
    font-family:myFont ;
    src: url('./Roboto-Light.ttf');
}

* {
    margin:10px;
    font-family: myFont, Arial, sans-serif;
}

body {
    background-color:black;
}

.container1 {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}

.player1 {
    width:90px ;
    height:30px ;
    background-color:blue ;
}

.bullet1 {
    width:20px ;
    height:20px ;
    border-radius:50%;
    background-color:white ;
    
    
}
.container2 {
    display:inline-grid;
}
.player2 {
    width:90px ;
    height:30px ;
    background-color:red ;
    position:relative;
    top:310px;
}

.btns {
    font-weight:900;
    width:50px;
}

.btns:hover {
    border:none;
    background-color:rgb(85, 108, 255); ;
    box-shadow:2px 2px 22px rgb(85, 108, 255);
    height:23px;
    border-radius:5px;
}

